header {
  background-color: #4f000b;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  display: flex;
  flex: column;
}

nav ul {
  list-style: none;
  background-color: #4f000b;
  height: 100%;
  color: white;
  margin: 0;
  padding-inline-start: 0px;
  padding: 10px;
  padding-right: 20px;
}

article {
  margin-top: none;
  padding: 10px;
}
